@media screen and (min-width: 640px) {
  .mt-trending {
    margin-top: 600px;
  }

  .carousel .slider-wrapper{
		width: 350px !important;
	}
}

@media screen and (min-width: 768px) {
  .mt-trending {
    margin-top: 0px;
  }

  .carousel .slider-wrapper{
		width: 100% !important;
	}
}

@media screen and (max-width: 640px) {
  .carousel .slider-wrapper{
		width: 350px !important;
	}
}

@media screen and (max-width: 768px) {
	.card-body{
		padding: 1rem;
	}
}

.slide span{
	width: 100% !important;
}

.slide img{
	width: 100% !important;
}

.text-ellipsis {
	text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
	.text-ellipsis {
		text-overflow: none;
	}
}